# OSX
#
.DS_Store

# Xcode
#
build/
.build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
**/xcuserdata
**/xcshareddata
!Tildone.xcodeproj/xcshareddata/
!Tildone.xcodeproj/xcshareddata/xcschemes/
Tildone.xcodeproj/xcshareddata/xcschemes/*
!Tildone.xcodeproj/xcshareddata/xcschemes/Stage6 Migration Tool.xcscheme
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspacedata
