<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   Tildone

   Created by Diego Rivera on 7/1/26.
   Copyright (c) 2026 CUATRO STUDIO. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
</dict>
</plist>
